html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.wrap {
    background: #202020;
}

.app-navbar {
    padding: 0;
    background: #fff !important;
}

.active {
    background-color: #f1bc31;
}

.nav-item {
    padding: 1.1rem 10px;
}

.nav-link {
    text-transform: uppercase;
}

.navbar-brand {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
}

.navbar-brand span {
    display: block;
    font-size: 12px;
    font-weight: 500;
}

.three {
    padding: 50px 20px;
    text-align: center;
}

.three h1 {
    font-family: 'Merriweather', serif;
    position: relative;
    color: #FCF2E5;
    background: #90806A;
    font-size: 2em;
    font-weight: normal;
    padding: 10px 40px;
    display: inline-block;
    margin: 0;
    line-height: 1;
}

.three h1:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -15px;
    background: #90806A;
}

.three h1:after {
    content: "";
    position: absolute;
    height: 0;
    width: 80%;
    border-top: 10px solid #90806A;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
}

@media (max-width: 500px) {
    .three h1 {
        font-size: 1.8em;
    }
}

@media (max-width: 400px) {
    .three h1 {
        font-size: 1.5em;
        padding: 10px 30px;
    }
}