@{
    ViewData["Title"] = "Home Page";
}

<div class="position-relative">
    <img src="~/img/aboutus-preview.jpg" class="w-100 h-auto" />
    <div style="position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);font-size:18px">
        <span style="font-weight: 700; font-size: 36px;" class="text-light">Думай. Изучай. Наслаждайся.</span>
    </div>
</div>

<div class="container mt-3">
    <div class="text-center">
        <span class="text-uppercase fs-4 fw-bolder">Openskills</span>
    </div>
    <div class="card border-light border-3 mt-3">
        <div class="card-body" style="font-size: 16px;">
            <b>Профессиональный трек развития</b> - это новый инструмент обучения государственных гражданских служащих Российской Федерации. У трека "openskills" много преимуществ, главное из которых заключается в том, что трек практически полностью реализуется онлайн.
        </div>
    </div>
</div>

<div class="bg-black mt-3" style="height: 1.5rem;"></div>

<div class="container mt-3">
    <div class="card border-light border-3">
        <div class="card-body" style="font-size: 16px;">
            <span>
                <b>Основная особенность треков</b> — это сочетание разных форматов и инструментов в едином образовательном продукте. Участник взаимодействует с треком через официальный сайт УИУ РАНХиГС. Госслужащий изучает материалы, проходит тесты, практикуется на тренажерах, смотрит блоги, слушает подкасты. 
            </span>
            <span>
                И у большинства треков есть куратор, который сопровождает участников на протяжении всего курса. Он отвечает на вопросы, проверяет задания и дает рекомендации. К следующему этапу трека можно приступить только после успешного прохождения предыдущего. Учебный контент разбит на маленькие порции, где каждый блок занимает в среднем от 2 до 10 минут.
            </span>
        </div>
    </div>
</div>

<div class="container mt-3" style="font-size: 16px;">
    <div class="text-center mb-1">
        <span class="text-uppercase fs-4 fw-bolder">Цель</span>
    </div>
    <div class="mb-5">
        Создание единой системы образования государственных гражданских служащих, посредством внедрения цифрового трека развития компетенций.
    </div>
</div>