@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<iframe title="Whiteboard"
        style="width: 100%; min-height: 500px;"
        src="https://www.whiteboard.chat/apiaccess/createjoin/c9314269-f9e9-4694-88cc-9b1bb0fd3ef8?key=efaa1e86-57b0-4762-9e40-8ddc5750f124"
        frameborder="0"
        allow="camera; microphone">
</iframe>
