@{
    ViewData["Title"] = "Teacher Page";
}

<style>
    .teacher {
        border: 5px solid lightgray;
    }
</style>

<div class="mt-5 container">
    <div class="d-flex gap-3 justify-content-center mt-3">
        <div>
            <img src="~/img/teacher2.jpg" class="teacher" width="220"/>
        </div>
        <div style="font-size: 16px;">
            <span style="font-size: 20px;">
                <b>Никитина Алёна Сергеевна</b>
            </span><br />
            Кандидат социологических наук<br />
            Доцент кафедры управления персоналом
        </div>
    </div>

    <div class="mt-5" style="height: 5px; background-color: lightgray;">
    </div>
</div>
